[submodule "Weather-Comparison-App"]
	path = Weather-Comparison-App
	url = https://github.com/MichelleGrounds/Weather-Comparison-App
[submodule "Rock-Paper-Scissors-Game"]
	path = Rock-Paper-Scissors-Game
	url = https://github.com/MichelleGrounds/Rock-Paper-Scissors-Game
[submodule "Cesar-Cipher"]
	path = Cesar-Cipher
	url = https://github.com/MichelleGrounds/Cesar-Cipher
[submodule "Whats-in-my-freezer-list"]
	path = Whats-in-my-freezer-list
	url = https://github.com/MichelleGrounds/whats-in-my-freezer
